<div class="row mt-5">
    <h1>Register Admin</h1>
    <form id="adminregisterform">

        <div class="form-row">
            <div class="form-group input-group input-group-lg col-lg-6">
                <input type="text" class="form-control" placeholder="First Name" id="firstName" maxlength="64" required>
            </div>

            <div class="form-group input-group input-group-lg col-lg-6">
                <input type="text" class="form-control" placeholder="Last Name" id="lastName" maxlength="64" required>
            </div>

            <div class="form-group input-group input-group-lg col-lg-6">
                <input type="text" class="form-control" placeholder="Role" id="roleAdmin" maxlength="64" required>
            </div>

            <div class="form-group input-group input-group-lg col-lg-6">
                <input type="email" class="form-control" placeholder="Email" id="adminemail" maxlength="96" required>
            </div>

            <div class="form-group input-group input-group-lg col-lg-6">
                <input type="password" class="form-control" placeholder="Password" id="password" maxlength="64" required>
            </div>
        </div>

        <div class="form-row">
            <div class="col-xs-4"></div>
            <div class="form-group input-group-btn col-xs-4 col-lg-12">
                <button class="btn-lg btn-primary" type="submit">Register Admin</button>
            </div>
            <div class="col-xs-4"></div>
        </div>
    </form>

    <p id="status">{{result}}</p>

</div>




<div class="page-wrapper">

</div>




<footer>
    <div class="text-center">
        <!--  <h4 class="font-weight-bold"> Follow Us </h4> -->
        <div class="d-flex flex-row justify-content-center">

        </div>
        <p>&copy; Copyright PetMe | By Michael, Faithful, Mitesh, Bobby</p>
        <div class="top">
            <a href="#Adopt"><i class="fas fa-arrow-circle-up fa-2x"></i></a>
        </div>
    </div>
</footer>