<div class="row">
    <form class="searchform">
        <div class="form-row">
            <div class="form-group input-group input-group-lg col-lg-4">
                <div class="dropdown">
                    <button class="btn btn-lg btn-default dropdown-toggle" type="button" id="age" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Age
                    </button>
                    <div class="dropdown-menu" aria-labelledby="age">
                        <a class="dropdown-item" value="baby" href="#">Baby</a>
                        <a class="dropdown-item" value="young" href="#">Young</a>
                        <a class="dropdown-item" value="adult" href="#">Adult</a>
                        <a class="dropdown-item" value="old" href="#">Old</a>
                    </div>
                </div>
            </div>

            <div class="form-group input-group input-group-lg col-lg-4">
                <div class="dropdown">
                    <button class="btn btn-lg btn-default dropdown-toggle" type="button" id="milesrange"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Miles within
                    </button>
                    <div class="dropdown-menu" aria-labelledby="milesrange">
                        <a class="dropdown-item" value="10" href="#">10</a>
                        <a class="dropdown-item" value="25" href="#">25</a>
                        <a class="dropdown-item" value="50" href="#">50</a>
                        <a class="dropdown-item" value="100" href="#">100</a>
                    </div>
                </div>
            </div>

            <div class="form-group input-group input-group-lg col-lg-4">
                <div class="dropdown">
                    <button class="btn btn-lg btn-default dropdown-toggle" type="button" id="petType"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pet Type
                    </button>
                    <div class="dropdown-menu" aria-labelledby="petType">
                        <a class="dropdown-item" value="dog" href="#">Dog</a>
                        <a class="dropdown-item" value="cat" href="#">Cat</a>
                        <a class="dropdown-item" value="bird" href="#">Bird</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group input-group input-group-lg col-lg-6">
                <input type="text" class="form-control" placeholder="Breed" id="breed">
            </div>

            <div class="form-group input-group input-group-lg col-lg-6">
                <input type="number" class="form-control" placeholder="Zip" id="zipcode">
            </div>

            <div class="form-row">
                <div class="col-xs-4"></div>
                <div class="form-group input-group-btn col-xs-4 col-lg-12">
                    <button class="btn-lg btn-warning" type="submit"><i class="fas fa-dog"></i>
                        Adopt us! <i class="fas fa-cat"></i></button>

                </div>
                <div class="col-xs-4"></div>
            </div>
    </form>

</div>