<div class="row">
        <form class="searchform">
            <div class="form-row">


                <div class="form-group input-group input-group-lg col-md-1">
                    <input type="text" class="form-control" placeholder="Age">
                </div>

                <div class="form-group input-group input-group-lg col-md-4">
                    <input type="text" class="form-control" placeholder="Breed">
                </div>

                <div class="form-group input-group input-group-lg col-md-3">
                    <input type="text" class="form-control" placeholder="Zip" id="zipcode">
                </div>

                <div class="form-group input-group input-group-lg col-md-2">
                    <div class="dropdown">
                        <button class="btn btn-lg btn-secondary dropdown-toggle" type="button" id="petType"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pet Type
                        </button>
                        <div class="dropdown-menu" aria-labelledby="petType">
                            <a class="dropdown-item" value="dog" href="#">Dogs</a>
                            <a class="dropdown-item" value="cat" href="#">Cats</a>
                            <a class="dropdown-item" value="bird" href="#">Birds</a>
                        </div>
                    </div>
                </div>

                <div class="form-group input-group-btn col-md-2">
                    <button class="btn-lg btn-primary" type="submit"><i
                            class="glyphicon glyphicon-search"></i>Search</button>
                </div>


            </div>

        </form>

    </div>