<div class="row" id="searchRows">
    <form class="searchform" method="POST" action="/">
        <div class="form-row">
            <div class="form-group input-group input-group-lg col-lg-4">
                {{!-- <div class="dropdown">
                    <button class="btn btn-lg btn-default dropdown-toggle" type="button" id="age" name="age" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Age
                    </button>
                    <div class="dropdown-menu" aria-labelledby="age">
                        <a class="dropdown-item" value="baby" href="#">Baby</a>
                        <a class="dropdown-item" value="young" href="#">Young</a>
                        <a class="dropdown-item" value="adult" href="#">Adult</a>
                        <a class="dropdown-item" value="old" href="#">Old</a>
                    </div>
                </div> --}}

                <select class="form-control" id="age" name="age">
                    <option value="Age">Age</option>
                    <option value="Baby">Baby</option>
                    <option value="Young">Young</option>
                    <option value="Adult">Adult</option>
                    <option value="Old">Old</option>
                </select>
            </div>

            <div class="form-group input-group input-group-lg col-lg-4">
                <select class="form-control" id="milesrange" name="milesinrange">
                    <option value="Miles within">Miles within</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>

            <div class="form-group input-group input-group-lg col-lg-4">
                <select class="form-control" id="petType" name="pet_type">
                    <option value="Pet Type">Pet Type</option>
                    <option value="Dog">Dog</option>
                    <option value="Cat">Cat</option>
                    <option value="Bird">Bird</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group input-group input-group-lg col-lg-6">
                <input type="text" class="form-control" placeholder="Breed" id="breed" maxlength="64" name="breed">
            </div>

            <div class="form-group input-group input-group-lg col-lg-6">
                <input type="text" class="form-control" placeholder="Zip" id="zipcode" maxlength="32" name="zip_code">

            </div>

            <div class="form-row">
                <div class="col-xs-4"></div>
                <div class="form-group input-group-btn col-xs-4 col-lg-12">
                    <button class="btn-lg btn-warning" type="submit"><i class="fas fa-dog"></i>
                        Adopt us! <i class="fas fa-cat"></i></button>

                </div>
                <div class="col-xs-4"></div>
            </div>
    </form>
</div>