<section id="adopt" class="py-5">

    {{> navigationbar}}
    <div class="container">
        <div class="row">
            <div class="col-md-6 my-4">
                <h1 class="text-uppercase title-text display-3"> About Us </h1>
                <p class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum voluptas molestias
                    doloribus aliquam, quo, nemo esse distinctio veniam eum accusantium maiores obcaecati sint
                    quisquam
                    ad. Minima debitis temporibus necessitatibus nesciunt.</p>
                <a href="./" class="btn hvr-right my-4 text-capitalize">
                    GET IN TOUCH
                </a>
            </div>
            <div class="col-md-6 adopt-images my-4 d-none d-lg-block">
                <img src="Assets/PetPics/bengal-cat-lying-on-white-wooden-floor-WDQAYZ2.jpg" alt=""
                    class="img-1 img-thumbnail about-img">
                <img src="Assets/PetPics/domestic-birds-sitting-on-a-stick-in-pet-shop-PPBUXLZ.jpg" alt=""
                    class="img-2 img-thumbnail about-img">
                <img src="Assets/PetPics/pets-PBR3AZX.jpg" alt="" class="img-3 img-thumbnail about-img">
                <img src="Assets/PetPics/romantic-happy-couple-in-love-enjoying-their-time--X6FEC93.jpg" alt=""
                    class="img-4 img-thumbnail about-img">
                <img src="Assets/PetPics/pet-rabbit-on-green-grass-P5EQ5GR.jpg" alt=""
                    class="img-5 img-thumbnail about-img">

            </div>
        </div>
    </div>
</section>