<div class="page-holder bg-cover">
    <div class="mask rgba-gradient align-items-center">

        {{> navigationbar}}

        <section id="adopt" class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 my-4">
                        <h1 class="text-uppercase title-text display-3" style="color: goldenrod"> About Us </h1>
                        <p class="text"> We are a family at PetMe Shelter. Dedicated to ensuring you find that special
                            pet. We
                            facilitate adoptions and ensure everyone makes the right buddy choice.
                            Our website can boast of <a href="">
                                great reviews </a> of guests that finally found their companions for life and we are
                            hoping you find yours today. </p>
                        <p> We would love to hear from you !</p>
                        <h6><a href="/contact" class="btn hvr-right my-4 text-capitalize">
                                Reach out to us </a></h6>

                    </div>
                    <div class="col-md-6 adopt-images my-4 d-none d-lg-block">
                        <img src="../images/cat.jpg" alt="" class="img-1 img-thumbnail about-img">
                        <img src="../images/happy family.jpg" alt="" class="img-2 img-thumbnail about-img">
                        <img src="../images/domestic-birds-sitting-on-a-stick-in-pet-shop-PPBUXLZ.jpg" alt=""
                            class="img-3 img-thumbnail about-img">
                        <img src="../images/pets-PBR3AZX.jpg" alt="" class="img-4 img-thumbnail about-img">
                        <img src="../images/pet-P9RE7LD.jpg" alt="" class="img-5 img-thumbnail about-img">

                    </div>
                </div>
            </div>
        </section>



        <div class="container-fluid">
            <!---Title-->
            <div class="row" style="background-color: rgb(12, 0, 20);">
                <div class="col text-center py-5">
                    <h4 class="text-uppercase text-color font-weight-bold"> " People are Saying </h4>
                </div>
            </div>
            <!---End of Title-->
            <div class="row justify-content-around align-items-center">
                <div class="col-x1-3 col-lg-4 col-sm rotate">
                    <div class="card text-center mb-3 testimon-card">
                        <div class="card-header">
                            <h4 class="title-text"> Yoda </h4>
                        </div>
                        <div class="card-body">
                            <img src="../images/yoda.jpg" class="img-fluid rounded" alt="">
                        </div>
                        <div class="card-footer"> Selina, Adopter, GA
                        </div>
                        <div class="back">
                            <div class="back-content">
                                <h6>" Love Yoda. He is very happy and loving. Loves to go for walks and already knows
                                    his
                                    way home. He and are other dog are good buddies. Thank you for bringing him into our
                                    lives.
                                </h6>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-x1-3 col-lg-4 col-sm rotate">
                    <div class="card text-center mb-3 testimon-card">
                        <div class="card-header">
                            <h4 class="title-text"> Mellow </h4>
                        </div>
                        <div class="card-body">
                            <img src="../images/mellow2.jpg" class="img-fluid rounded" alt="">
                        </div>
                        <div class="card-footer">
                            Pam and Amber, Adopters, Salem, GA
                        </div>
                        <div class="back">
                            <div class="back-content">
                                <h6>" His new name is Tucker and he is fitting in
                                    perfect
                                    with his dog brothers.Thank you. It was such an easy process and an awesome
                                    experience for us.
                                </h6>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-x1-3 col-lg-4 col-sm rotate">
                    <div class="card text-center mb-3 testimon-card">
                        <div class="card-header">
                            <h4 class="title-text"> Maya </h4>
                        </div>
                        <div class="card-body">
                            <img src="../images/maya.jpg" class="img-fluid rounded" alt="">
                        </div>
                        <div class="card-footer"> Chris, Adopter, Macon, GA
                        </div>
                        <div class="back">
                            <div class="back-content">
                                <h6>" She is the sweetest kitty.
                                    She is getting
                                    settled and getting used to
                                    the new home and our other kitty.</h6>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>



        <div class="page-wrapper">

        </div>

        <footer>
            <div class="text-center">
                <!--  <h4 class="font-weight-bold"> Follow Us </h4> -->
                <div class="d-flex flex-row justify-content-center">

                </div>
                <p>&copy; Copyright PetMe | By Michael, Faithful, Mitesh, Bobby</p>
                <div class="top">
                    <a href="/"><i class="fas fa-arrow-circle-up fa-2x"></i></a>
                </div>
            </div>
        </footer>