<div class="page-holder bg-cover">
    <div class="mask rgba-gradient align-items-center">

        {{> navigationbar}}


        <section id="adopt" class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 my-4">
                        <h1 class="text-uppercase title-text display-3" style="color: bisque;"> About Us </h1>
                        <p class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum voluptas
                            molestias
                            doloribus aliquam, quo, nemo esse distinctio veniam eum accusantium maiores obcaecati
                            sint
                            quisquam
                            ad. Minima debitis temporibus necessitatibus nesciunt.</p>
                        <a href="#" class="btn hvr-right my-4 text-capitalize">
                            GET IN TOUCH
                        </a>
                    </div>
                    <div class="col-md-6 adopt-images my-4 d-none d-lg-block">
<<<<<<< HEAD
                        <img src="/images/domestic-birds-sitting-on-a-stick-in-pet-shop-PPBUXLZ.jpg" alt=""
                            class="img-1 img-thumbnail about-img">
                        <img src="/images/happy family.jpg" alt="" class="img-2 img-thumbnail about-img">
                        <img src="/images/cat.jpg" alt="" class="img-3 img-thumbnail about-img">
                        <img src="/images/pets-PBR3AZX.jpg" alt="" class="img-4 img-thumbnail about-img">
                        <img src="/images/pet-P9RE7LD.jpg" alt="" class="img-5 img-thumbnail about-img">
=======
                        <img src="../images/cat.jpg" alt="" class="img-1 img-thumbnail about-img">
                        <img src="../images/happy family.jpg" alt="" class="img-2 img-thumbnail about-img">
                        <img src="../images/domestic-birds-sitting-on-a-stick-in-pet-shop-PPBUXLZ.jpg" alt=""
                            class="img-3 img-thumbnail about-img">
                        <img src="../images/pets-PBR3AZX.jpg" alt="" class="img-4 img-thumbnail about-img">
                        <img src="../images/pet-P9RE7LD.jpg" alt="" class="img-5 img-thumbnail about-img">

>>>>>>> cc9fa159abad8c7703f860c5ae323ffca059789a
                    </div>
                </div>
            </div>
        </section>




        <div class="page-wrapper">

        </div>

        <footer>
            <div class="text-center">
                <!--  <h4 class="font-weight-bold"> Follow Us </h4> -->
                <div class="d-flex flex-row justify-content-center">

                </div>
                <p>&copy; Copyright PetMe | By Michael, Faithful, Mitesh, Bobby</p>
                <div class="top">
                    <a href="/"><i class="fas fa-arrow-circle-up fa-2x"></i></a>
                </div>
            </div>
        </footer>