<link rel="stylesheet" type="text/css" href="../../public/css/donate.css">



<h1>Donate</h1>
<p>Thank you for donating!</p>
<form id="form">
  <div>
    <label for="name">Name: </label>
    <input id="name" type="text" name="name">
  </div>
  <div>
    <label for="email">Email address: </label>
    <input id="email" type="email" name="email">
  </div>
  <div>
    <label for="amount">Amount: </label>
    <input id="amount" type="number" name="amount" min="10">
  </div>
  <div>
    <button id="donateSubmit" type="submit">Next</button>
  </div>
</form>
