<div class="page-holder bg-cover">
    <div class="mask rgba-gradient align-items-center">
        {{> navigationbar}}



        <div class="contact-section">
            <h1 class="contact-us-textnow"> Donate Today </h1>
            {{!--  {{msg}} --}}
            <div class="border"></div>
            <h1>Thank you for supporting our Furry Friends !</h1>
            <button id="btn">DONATE</button>
        </div>
    </div>
</div>