<div class="page-wrapper">

</div>

<footer>
    <div class="text-center">
        <!--  <h4 class="font-weight-bold"> Follow Us </h4> -->
        <div class="d-flex flex-row justify-content-center">

        </div>
        <p>&copy; Copyright PetMe | By Michael, Faithful, Mitesh, Bobby</p>
        <div class="top">
            <a href="/"><i class="fas fa-arrow-circle-up fa-2x"></i></a>
        </div>
    </div>
</footer>