<div class="page-holder bg-cover">
    <div class="mask rgba-gradient align-items-center">
        {{!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a> --}}

        {{> navigationbar}}
        <div class="container">

            <h1 class="petmetxt">PetMe</h1>
            <h1 class="getbuddytxt">Looking to Get a Buddy?</h1>
            {{> searchpetform}}
        </div>
    </div>
</div>

{{!-- <script src="/js/geolocator.js"></script> --}}