<h1> Hi <%= name %> </h1>

<!---- _method is what we use to override our method which is set as method=POST-->
<form action="/logout?_method=DELETE" method="POST">

    <button type="submit"> Log Out </button>
</form>