<div class="page-holder bg-cover">
  <div class="mask rgba-gradient align-items-center">

    {{> navigationbar}}
    <div class="container" id="banner">
      <h1 class="petmetxt font-weight-bold display-4 text-center  heading">Pet Me</h1>
      <h3 class="getbuddytxt text-center">Looking to Get a Buddy?</h3>
      {{> searchpetform}}
      <div class="mt-5" style="padding-top: 380px;">
        {{> displaypet}}
      </div>
    </div>
  </div>
</div>

<script>
  function geoFindMe() {

    function invokeGeoLocationReverseGeoCodingApi(position) {

      var location = {
        latitude: position.coords.latitude,
        longitude: position.coords.longitude
      }

      $.ajax({
        url: "/geolocation",
        method: "PUT",
        data: location
      }).then(function (response) {
        let getZipCode = response.results["0"].components.postcode;
        $("#zipcode").val(getZipCode);
      });
    }

    function error() {
      return 'Unable to retrieve your location';
    }

    navigator.geolocation.getCurrentPosition(invokeGeoLocationReverseGeoCodingApi, error);

  }

  geoFindMe();
</script>