<div class="page-holder bg-cover">
  <div class="mask rgba-gradient align-items-center">
   
    {{> navigationbar}}
    <div class="container">
      <h1 class="petmetxt font-weight-bold heading">PetMe</h1>
      <h1 class="getbuddytxt">Register a new pet here!!!</h1>
      {{> registernewpetform}}
    </div>
  </div>
</div>
