<div class="login-section">

    {{> navigationbar}}


    <div class="wrapper mask rgba-gradient align-items-center">
        <h1><img src="/images/favicon.ico" alt=""> Sign In </h1>
        <form id="loginform">
            <input type="email" placeholder="Email" id="loginemail">
            <input type="password" placeholder="Password" id="loginpassword">
            <input type="submit" value="LOGIN">
        </form>
        <div class="bottom-text">
            <input type="checkbox" name="remember" checked="checked"> Remember Me
            <a href="/register"> Forgot Password ? </a>
        </div>

        <div class="socials">
            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/explore"><i class="fa fa-twitter"></i></a>
            <a href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
        </div>
    </div>

</div>

<div class="page-wrapper">

</div>

<footer>
    <div class="text-center">
        <!--  <h4 class="font-weight-bold"> Follow Us </h4> -->
        <div class="d-flex flex-row justify-content-center">

        </div>
        <p>&copy; Copyright PetMe | By Michael, Faithful, Mitesh, Bobby</p>
        <div class="top">
            <a href="/"><i class="fas fa-arrow-circle-up fa-2x"></i></a>
        </div>
    </div>
</footer>