<div class="login-section">


    <div class="wrapper">
        <h1> Sign In </h1>
        <form action="">
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <input type="submit" value="LOGIN">

        </form>
        <div class="bottom-text">
            <input type="checkbox" name="remember" checked="checked"> Remember Me
            <a href="#"> Forgot Password ? </a>
        </div>

        <div class="socials">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
    </div>
    <div id="overlay-area"></div>

</div>